.comment-wrapper{
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.viewMore{
    font-size: 1vw;
    color: #3e3e3e;
    cursor: pointer;
    margin: 10px auto 10px auto;
}
