.user-info {
    display: flex;
    align-items: center;
}

.user-other{
    margin-left: 20px;
}

.user{
    background-color: white;
    margin-top: 10px;
    padding: 20px;
    border-radius: 15px;
}

.post-item{
    display: flex;
    position: relative;
    flex-direction: column;
}

.delete-button{
    position: absolute;
    right: 0;
}

.mypost-list{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.logout{
    position: absolute;
    right: 60px;
    top: 19px;
    z-index: 999;
    background-color: white;
}
