@media (min-width: 100px) and (max-width: 703px) {
    .logo{
        height: 1.4rem;
    }
    .main-content, .header, .wrapper{
        padding: 0 5px;
    }
    .logout{
        right: 5px;
    }
    .login-form-wrapper, .regist-form-wrapper{
        width: 350px;
    }
    .header-nav div{
        margin-right: 10px;
    }
    .login-regist-button{
    }
}

@media (min-width: 703px) and (max-width: 820px) {
    .logo{
        height: 1.5rem;
    }
    .main-content, .header, .wrapper{
        padding: 0 10px;
    }
    .logout{
        right: 10px;
    }
    .login-form-wrapper, .regist-form-wrapper{
        width: 380px;
    }
    .header-nav div{
        margin-left: 20px;
    }
}

@media (min-width: 820px) and (max-width: 955px) {
    .logo{
        height: 1.8rem;
    }
    .main-content, .header, .wrapper{
        padding: 0 20px;
    }
    .logout{
        right: 20px;
    }
    .login-form-wrapper, .regist-form-wrapper{
        width: 400px;
    }
    .header-nav div{
        margin-left: 20px;
    }
}

@media (min-width: 955px) and (max-width: 1130px) {
    .logo{
        height: 2rem;
    }
    .main-content, .header, .wrapper{
        padding: 0 30px;
    }
    .logout{
        right: 30px;
    }
    .login-form-wrapper, .regist-form-wrapper{
        width: 420px;
    }
    .header-nav div{
        margin-left: 20px;
    }
}

@media (min-width: 1130px) and (max-width: 1360px) {
    .logo{
        height: 2rem;
    }
    .main-content, .header, .wrapper{
        padding: 0 40px;
    }
    .logout{
        right: 40px;
    }
    .login-form-wrapper, .regist-form-wrapper{
        width: 450px;
    }
    .header-nav div{
        margin-left: 20px;
    }
}

@media (min-width: 1360px) {
    .logo{
        height: 2rem;
    }
    .main-content, .header, .wrapper{
        padding: 0 80px;
    }
    .logout{
        right: 80px;
    }
    .login-form-wrapper, .regist-form-wrapper{
        width: 498px;
    }
    .header-nav div{
        margin-left: 20px;
    }
}
